# To override default docker options copy this file to .env and restart the stack

PROJECT_NAME=raffle-monorepo

# Local Port mappings
HOST_SHARED_DATABASE_PORT=54321

# Shared Services
SHARED_DATABASE_USER=user
SHARED_DATABASE_PASSWORD=password
