# To override default docker options copy this file to .env and restart the stack

PROJECT_NAME=raffle-monorepo

# Local Port mappings
HOST_BACKEND_PORT=8001
HOST_SHARED_DATABASE_PORT=54321

# Web addresses
BASE_BACKEND_URL="http://127.0.0.1:${HOST_BACKEND_PORT}"

# Shared Services
SHARED_DATABASE_USER=user
SHARED_DATABASE_PASSWORD=password
